extends layout

block content
	h1= title
	p Welcome to #{title}
	if JSON.stringify(currentUser) !== '{}' 
		p You are a User
	if currentUser.membership 
		p You are a Member
	if currentUser.admin 
		p You are an admin
	if message_list 
		each message in message_list
			if currentUser.membership
				div
					li <strong>From:</strong> #{message.fullname}
					li <strong>Title:</strong> #{message.title} 
					li <strong>Date:</strong> #{message.timestamp}
					li <strong>Message:</strong> #{message.text}
			else if currentUser 
				div 
					li <strong>From:</strong> Anonymous
					li <strong>Title:</strong> #{message.title} 
					li <strong>Message:</strong> #{message.text}
			if currentUser.admin 
				a(href="delete/"+ message.url ) Delete    







